name: .NET

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '3.1'

      - name: Restore dependencies
        run: dotnet restore

      - name: Build with dotnet
        run: dotnet build --configuration Release

      - name: Test with coverage
        run: dotnet test /p:CollectCoverage=true /p:CoverletOutputFormat=opencover /p:CoverletOutput=./coverage.opencover.xml --verbosity normal

      - name: Create tool manifest if needed
        run: |
          if (-not (Test-Path -Path ".config" -PathType Container)) {
            New-Item -ItemType Directory -Path ".config"
          }
          if (-not (Test-Path -Path ".config/dotnet-tools.json")) {
            dotnet new tool-manifest
          }

      - name: Install ReportGenerator locally
        run: dotnet tool install --local dotnet-reportgenerator-globaltool

      - name: Generate code coverage report
        run: dotnet tool run reportgenerator -reports:"./STIN-Burza.Tests/coverage.opencover.xml" -targetdir:"./public/coverage" -reporttypes:Html

      - name: Upload coverage report as artifact
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: ./public/coverage

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public/coverage

      - name: dotnet publish
        run: dotnet publish -c Release -o ./myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ./myapp

  deploy:
    runs-on: windows-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}
    permissions:
      id-token: write
      contents: read
      pages: write

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app

      - name: Login to Azure
        uses: azure/login@v2